@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: "Mulish", sans-serif;
  height: 1080px;
  width: 1920px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
}

section {
  height: 1080px;
  width: 960px;
}

.left-section {
  background-image: linear-gradient( #33383D,#1C1D20);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin-top: 94px;
  margin-bottom: 45px;
}

.introduce-login {
  color: #E0E0E0;
  text-align: start;
}

.introduce-login p {
  font-size: 16px;
  height: 24px;
}

label {
  font-size: 16px;
  color: #E0E0E0;
  margin-right: 18px;
}

.input-container {
  text-align: start;
  margin-top: 73px;
}

.input-container p {
  font-size: 30px;
  color: #E0E0E0;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

input {
  width: 379px;
  height: 60px;
  border: 1px solid#fff;
  border-radius: 50px;
  color: #E0E0E0;
  background: transparent;
  padding-left: 20px;
  padding: 20px;
}

input::placeholder {
  font-size: 12px;
  color: #E0E0E0;
}

input[type="date"] {
  text-transform: uppercase;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
}

button {
  width: 379px;
  height: 67px;
  border-radius: 50px;
  background: 
    linear-gradient(#FF2D04,#C13216) padding-box,
    linear-gradient(-45deg,#C13216,#FF2D04) border-box
  ;
  border: 2px solid transparent;
  font-size: 32px;
  color: #FFF;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.right-section {
  background: url("/images/Mask\ Group.png");
  background-size: cover;
  text-align: center;
}

.right-section img {
  width: 484px;
  height: 66px;
  margin-top: 36px;
}